{% extends 'base.html' %}
{% block content %}
    <section class="background container_top">
        <img
          src="../static/image/main_background_men_image.svg"
          alt="men_image"
          width="800"
          class="photo"
        />
        <div class="item">
          <img
            src="../static/image/main_background_pink_line.svg"
            alt="pink_line_image"
          />
          <div class="item_text">
            <h1>THE BRAND</h1>
              <span class="title_second_row_black">OF LUXERIOUS</span>
              <span class="title_second_row_pink">FASHION</span>
          </div>
        </div>
      </section>
    <section class="offer container_bottom">
    <div class="card one">
      <img
        src="../static/image/main_offer_card_for_women.svg"
        alt="for_women_image"
      />
      <div class="card_text">
        <h2 class="card_tex_white">30% OFF</h2>
        <a href="/" class="card_tex_pink">FOR WOMEN</a>
      </div>
    </div>
    <div class="card two">
      <img src="../static/image/main_offer_card_for_men.svg" alt="for_men_image" />
      <div class="card_text">
        <h2 class="card_tex_white">HOT DEAL</h2>
        <a href="/" class="card_tex_pink">FOR MEN</a>
      </div>
    </div>
    <div class="card three">
      <img src="../static/image/main_offer_card_for_kids.svg" alt="for_kids_image" />
      <div class="card_text">
        <h2 class="card_tex_white">NEW ARRIVALS</h2>
        <a href="/" class="card_tex_pink">FOR KIDS</a>
      </div>
    </div>
    <div class="card four">
      <img
        src="../static/image/main_offer_card_accesories.svg"
        alt="accesories_image"
      />
      <div class="card_text">
        <h2 class="card_tex_white">LUXIROUS & TRENDY</h2>
        <a href="/" class="card_tex_pink">ACCESORIES</a>
      </div>
    </div>
  </section>
{% endblock content %}
